Source: ros-eloquent-teleop-twist-keyboard
Section: misc
Priority: extra
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-eloquent-ament-copyright, ros-eloquent-ament-flake8, ros-eloquent-ament-pep257, ros-eloquent-ros-workspace, python3-all, python3-setuptools
Homepage: http://wiki.ros.org/teleop_twist_keyboard
Standards-Version: 3.9.2

Package: ros-eloquent-teleop-twist-keyboard
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-eloquent-geometry-msgs, ros-eloquent-rclpy, ros-eloquent-ros-workspace
Description: A robot-agnostic teleoperation node to convert keyboard commands to Twist messages.
