Source: ros-jazzy-teleop-twist-keyboard
Section: misc
Priority: optional
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-ament-copyright <!nocheck>, python3-ament-flake8 <!nocheck>, python3-ament-pep257 <!nocheck>, ros-jazzy-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-teleop-twist-keyboard
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, libgeometry-msgs-dev, python3-geometry-msgs, ros-geometry-msgs, ros-jazzy-rclpy, ros-jazzy-ros-workspace
Description: A robot-agnostic teleoperation node to convert keyboard commands to Twist messages.
